/* source-code-pro-300 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/source-code-pro-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'),
       url('../fonts/source-code-pro-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v6-latin-300.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}
